
body { height:100% !important; } 

/* Range Slider */


#drawListView .km-flat .km-view .km-content .km-list > li {
    background-color: rgb(0, 163, 199);
}


#itemOverViewImages {
 max-width:auto;
    max-height: auto;

}

/* Groups */
    .groups p {
        font-size: 1em;
        margin: 0;
        padding: .3em 0 0;
        word-wrap:break-word;
         color: #0064b5;
    }
    .pullImage {
        width: 64px;
        height: 64px;
        border-radius: 3px;
        float: left;
        margin-right: 1.3em;
    }


/* Browse Asset */

    .product h3 {
         font-size: 1em;
        line-height: 1.4em;
        margin: 0;
        padding: 0;
        height: 1.3em;
        overflow: hidden;
           color: #0064b5;
    }
    .product p {
        font-size: 0.7em;
        margin: 0;
        padding: .3em 0 0;
           color: #0064b5;
    }
    .pullImage {
        width: 64px;
        height: 64px;
        border-radius: 3px;
        float: left;
        margin-right: 1.3em;
         -webkit-box-shadow: 0 1px 3px #333;
    box-shadow: 0 1px 3px #333;
    -webkit-border-radius: 8px;
       }

.browse-asset-range {

    font-size: 1em;
        margin: 0;
        padding: .3em 0 0;
}

.browse-asset-status {
font-size: .7em;
    margin:  0em 0em 0em 0em;
   color: #0064b5;
}



#overview-contacts h2,
#overview-cities h2 {
    display: inline-block;
    font-size: 1.1em;
    margin: 1em 0 .5em 1em;
}
#overview-account h2 {
    display: inline-block;
    font-size: 1.1em;
    margin: 1.5em 0 0 .6em;
}
#overview-account h2 span {
    display: block;
    clear: both;
    font-size: 1.8em;
    margin: .1em 0 0 0;
}
#overview-contacts img,
#overview-cities img,


.km-flat #overview-contacts img,
.km-flat #overview-cities img,
.km-flat #overview-account img {
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}


#overview-account .value {
    float: right;
    color: #ccc;
}

#mainNavHeader {
 background-color: #fff;
}

.km-flat .km-view .km-content {
    background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(0, 163, 199);
}
.km-flat .km-view .km-content .km-list > li .km-icon {
    color: rgb(0, 100, 181);
}
.km-flat .km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgb(0, 100, 181);
}
.km-flat .km-view .km-content .km-scrollview {
    background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-navbar {
    background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-navbar .km-button {
    background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-navbar .km-button .km-text {
    color: rgb(0, 100, 181);
}
.km-flat .km-view .km-navbar .km-button.km-state-active {
    background-color: rgb(255, 255, 255);
}
.km-flat .km-view .km-navbar .km-button.km-state-active .km-text {
    color: rgb(0, 100, 181);
}
.km-flat .km-view .km-tabstrip .km-button.km-state-active {
    background-color: rgb(0, 100, 181);
}







